#recipe-popup {
    z-index: 100000000000000000000;
    font-family: 'Product Sans', sans-serif;
    margin: 20%;
    margin-top: 5%;
}

#recipe-close-button {
    all: unset;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000000000;
    background-color: #0066ff;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: 'Product Sans', sans-serif;
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
}

#recipe-close-button:hover {
    background-color: white;
    color: #0066ff;
}




