body {
    width: 250px;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#toggle-extension {
    background-color: green;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#toggle-extension:hover {
    padding: 11px;
}

.container-extension {
    display: flex;
}

p {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    font-weight: 500;
}

.switch {
    position: relative;
    display: inline-block;
    width: 14%;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.container-settings {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h3 {
  margin-bottom: 10%;
  text-align: center;
}

#recipe-blacklist-button {
  padding: 2%;
  border-radius: 10px;
  margin-top: 5%;
}

#blacklist > h3 {
}

.delete {
  margin: 3%;
}


