#recipe-popup {
    z-index: 100000000000000000000000000000000000000;
    font-family: 'Product Sans', sans-serif;
    margin: 20%;
    margin-top: 5%;
}

#blacklist-button {
    background-color: rgb(253, 57, 57);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 1%;
}

#blacklist-button:hover {
    background-color: white;
    color: rgb(253, 57, 57);
    cursor: pointer;
}

#icon-img {
    width: 28%;
}


